<!DOCTYPE html>
<html lang="en">
<head>
    <script type='text/javascript' src='/Public/js/webim.config.js'></script>
    <script type='text/javascript' src='/Public/js/strophe-1.2.8.min.js'></script>
    <script type='text/javascript' src='/Public/js/websdk-1.4.11.js'></script>

    <script src='http://downloads.easemob.com/downloads/cdn/websdk-1.4.5.js'></script>


</head>
<body>
<form action="/Home/Test/Index"  method="post" enctype="multipart/form-data">
    <input type="file" name="ahead" >
    <input type="submit">
</form>
</body>
</html>