<extend name="Public/base" />
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>个人信息维护</legend>
        <div class="layui-field-box">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">账号名</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" value="{$uname}" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">真实姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="nickname" value="" placeholder="请输入新的姓名，留空表示不修改" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">账号密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" value="" placeholder="请输入新的密码，留空表示不修改" class="layui-input">
                    </div>
                </div>
               <!-- <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">头像</label>
                    <div class="layui-input-block">
                        <input type="file" name="ahead" class="layui-upload-file" value="6">
                        &lt;!&ndash;<div style="color: red;background: #c0c0c0;width: 19%;height: 150%">拖拽至此也可上传</div>&ndash;&gt;
                    </div>
                   <img id="src" src="" style="display: block;width: 20%;height: 20%;margin-left: 15%">
                </div>-->

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="admin-form">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</block>
<block name="myScript">
    <script>
        layui.use(['form','upload'], function(){

            /*layui.upload({
                url: '/Home/Test/index' ,
                title: '上传图片'
                ,success: function(res){
                    console.log(res); //上传成功返回值，必须为json格式
                    $('#src').attr('src',res);
                    console.log(res)
                }
            });*/


            var form  = layui.form();
            form.on('submit(admin-form)', function(data){
                $.ajax({
                    type: "POST",
                    url: '{:U("changeUser")}',
                    data: data.field,
                    success: function(msg){
                        if( msg.code == 1 ){
                            parent.location.reload();
                        }else{
                            parent.layer.msg(msg.msg, {
                                icon: 5,
                                shade: [0.6, '#393D49'],
                                time:1500
                            });
                        }
                    }
                });
                return false;
            });

        });


    </script>
</block>